body{
    background-color:#eee;
}
input{
    outline: none;
    border:none;
}
/* 个人信息页面 */
.title-top{
    background: #f9f9f9;
    height: 0.88rem;
    border-bottom: 1px solid #cacaca;
    padding: 0 0.22rem;
    line-height: 0.88rem;
    color: #333;
    font-size: 0.36rem;
    text-align: center;
    position: fixed;
    width: 7.5rem;
    z-index: 99;
}
.title-top a.go{
    width: 1rem;
    height: 100%;
    display: block;
    background: url(../images/jt2.png) no-repeat left center;
    background-size: 0.2rem 0.36rem;
    position: absolute;
    left: 0.22rem;
}
.title-top a.ok{
    position: absolute;
    right: 0.22rem;
    font-size: 0.24rem;
    color: #b5b5b5;
    border: 1px solid #e5e5e5;
    padding: 0.09rem 0.25rem;
    border-radius: 3px;
    line-height: initial;
    top: 0.18rem;
}
.title-top a.active{
    color: #fff;
    background: #f6b900;
    border: 1px solid #f6b900;
}
.headPad{
    padding: 0.24rem 0;
    margin-bottom: 1rem;
    padding-top: 0.88rem;
}
.info li{
    padding: 0.37rem 0.22rem;
    background: #fff;
    border-bottom: 1px solid #eeeeee;
    /* border-bottom: 1px solid red; */
    position: relative;
}
.info li.marginTop{
    margin-top: 0.1rem;
}
.info li input[type="text"]{
    line-height: normal;
    width: 100%;
    border: none;
    height: auto;
    padding: 0;
    margin-bottom: 0;
    font-size: 0.28rem;
}
.info li input[type="number"]{
    line-height: normal;
    width: 100%;
    border: none;
    height: auto;
    padding: 0;
    margin-bottom: 0;
    font-size: 0.28rem;
}
.info li p{
    font-size: 0.28rem;
    color: #333;
    margin-bottom: 0px;
}
.info li p span{
    display: inline-block;
}
.info li p span.type{
    width: 1.5rem;
}
.info li p span.text{
    width: 5.5rem;
}
.info li a.openNext{
    position: absolute;
    right: 0.22rem;
}
.info li a.openNext::before{
    content: "";
    width: 0.14rem;
    height: 0.25rem;
    display: inline-block;
    background: url(../images/opennext.png) no-repeat center;
    background-size: cover;
}
/* 上传驾照 */
.info .driving{
    margin-top: 0.1rem; 
    background: #fff;
    padding: 0.35rem 0.22rem; 
}
.info .driving .filebox{
    margin-top: 0.2rem;
}
.info .driving .filebox::before{
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.info .driving .filebox::after{
    display: block;
    content: "";
    clear: both;
    height: 0;
}
.info .driving h3{
    font-size: 0.28rem;
    color: #333;
}
.info .driving h3.marginTop{
    margin-top: 0.7rem;
}
.info .driving .z_file_input{
    display: none;
}
.info .driving .z_file_label{
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    float: left;
}
.info .driving .filebox span{
    float: left;
    font-size: 0.24rem;
    color: #b5b5b5;
    padding-left: 0.2rem;
    margin-top: 0.46rem;
}
/* 确认按钮 */

.info .confirm{
    text-align: center;
    margin-top: 0.45rem;
}
.info .confirm a{
    display: inline-block;
    width: 4.8rem;
    height: 0.8rem;
    font-size: 0.3rem;
    color: #fff;
    background: #f6b900;
    text-align: center;
    line-height: 0.8rem;
    border-radius: 5px;
}

/* 编辑问题页面 */
.edit .fileimg{
    background: #fff;
    padding: 0.34rem 0.22rem;
}
.edit .fileimg .z_file_input{
    display: none;
}
.edit .problem{
    background: #fff;
    padding: 0 0.22rem;
}
.edit .problem input{
    font-size: 0.42rem;
    color: #333333;
    width: 100%;
}
.edit .sketch{
    background: #fff;
    padding: 0 0.22rem;
    height: 7.4rem;
    width: 100%;
    margin-top: 4px;
    padding-top: 0.3rem;
}
.edit .sketch textarea{
    font-size: 0.36rem;
    color: #333333;
    width: 100%;
    height: 100%;
}

/* 视频播放页面头部 */
.zy_media{
    height: 4.2rem;
}
.zy_timeline_current{
    background: #f6b900;
}
.zy_playpause_btn{
    margin-right: 15px;
}
.zy_timeline_handle{
    background: #fff;
}
.zy_pause::before, .zy_pause::after{
    background: #f6b900;
}
.zy_play::before{
    border-color : transparent transparent transparent #f6b900;;
}

.playvideo .go{
    display: block;
    background: url(../images/jt2_w.png) no-repeat center;
    background-size: cover;
    width: 0.2rem;
    height: 0.36rem;
    position: absolute;
    z-index: 99;
    top: 0.18rem;
    left: 0.22rem;
}
.zy_title{
    padding-left: 0.6rem;
    font-size: 0.28rem;
}
/* 视频页面 内容 */
.video {
    background: #fff;
    padding: 0 0.22rem;
    
}
.video h3{
    font-size: 0.28rem;
    color: #333;
    padding-top: 0.25rem;
}
.video strong{
    display: block;
    font-size: 0.24rem;
    color: #73757a;
    margin-top: 0.15rem;
}
.video p{
    font-size: 0.24rem;
    color: #73757a;
    margin-top: 0.35rem;
    text-indent: 1em;
    line-height: 18px;;
}
.video .icon{
    text-align: right;
    border-bottom: 1px solid #e5e5e5;
}
.video .icon a{
    display: inline-block;
}
.video .fabulous{
    width: 0.34rem;
    height: 0.38rem;
    background: url(../images/fabulousicon.png) no-repeat center;
    background-size: cover;
    margin-right: 0.3rem;
}
.video .fabulous.active{
    background: url(../images/fabulousiconAc.png) no-repeat center;
    background-size: cover;
}
.video .collection{
    width: 0.4rem;
    height: 0.38rem;
    background: url(../images/collectionicon.png) no-repeat center;
    background-size: cover;
    margin-right: 0.2rem;
}
.video .collection.active{
    background: url(../images/collectioniconAc.png) no-repeat center;
    background-size: cover;
}
.anthology{
    background: #fff;
    padding: 0.3rem 0.22rem 0; 
    overflow: hidden;
}
.anthology h3{
    font-size: 0.28rem;
    color: #333333;
}
.anthology .film::before{
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.anthology .film::after{
    content: "";
    display: block;
    clear: both;
    height: 0;
}
.anthology .film{
    margin-top: 0.3rem;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.3rem;
    overflow-x: auto;
    width: 100%;
}
.anthology .film ul{
    overflow-y: hidden;
}
.anthology li{
    width: 2.2rem;
    float: left;
    margin-right: 0.1rem;
}
.anthology li img{
    display: block;
    width: 2.2rem;
    height: 1.2rem;
}
.anthology li p{
    font-size: 0.28rem;
    color: #333333;
    margin-top: 0.15rem;
}
/* 上传视频页面 */
.carinfo{
    background: #fff;
    margin-bottom: 0;
}
.carinfo .z_file_label{
    width: 100%;
    padding: 0.34rem 0.22rem;
    display: block;
}
.carinfo .z_file_label video{
    width: 100%;
}
.carinfo .z_file_input{
    display: none;
}
.m-content{
    margin-top: 0.1rem;
}
.m-content li p span.type{
    width: 0.95rem;
    text-align: center;
}
.m-content li p span.width{
    width: 1.45rem;
}
.m-scBtn a{
    width: 100%;
    height: 1.12rem;
    background: #f6bc0b;
    font-size: 0.36rem;
    color: #fff;
    text-align: center;
    display: inline-block;
    line-height:1.12rem;
}
.m-scBtn{
    width: 100%;
    margin-top: 1.5rem;
}

/* 登录 */
.loginTitle{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    line-height: 0;
    padding: 0 0.3rem;
}
.loginTitle a{
    display: inline-block;
    width: 0.33rem;
    height: 0.33rem;
    background: url(../images/Loginclose.png) no-repeat center;
    background-size: cover;
}
.login-logo{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 12%;
}
.login-logo img{
    width: 3.4rem;
    height: 1rem;
}

.login{
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    padding: 0 1.15rem;
}
.login input[type='text']{
    font-size: 0.3rem;
    color: #73757a;
    border-bottom: 1px solid #dedede;
    display:block;
    width: 100%;
    padding-bottom: 10px;
    text-indent: 0.5rem;
    height: 0.7rem;
    line-height: 0.7rem;
    
}
.login input[type='password']{
    font-size: 0.3rem;
    color: #73757a;
    border-bottom: 1px solid #dedede;
    display:block;
    width: 100%;
    padding-bottom: 10px;
    text-indent: 0.5rem;
    height: 0.7rem;
    line-height: 0.7rem;
}
.login button.code{
    position: absolute;
    right: 0;
    top: 3px;
    font-size: 0.3rem;
    color: #5495ce;

}
.login li{
    margin-bottom: 0.55rem;
    position: relative;
    line-height: 0;
}
.login li.active input{
    border-bottom: 1px solid #f6bc0b;
}
.login li.Regactive input{
    border-bottom: 1px solid #d6000f;
}
.login .phone::before{
    position: absolute;
    content: "";
    display: block;
    width: 0.26rem;
    height: 0.41rem;
    background: url(../images/loginPhone.png) no-repeat center;
    background-size: cover;
    left: 0;
    top: 3px;
}
.login .passIcon::before{
    position: absolute;
    content: "";
    display: block;
    width: 0.29rem;
    height: 0.39rem;
    background: url(../images/loginPass.png) no-repeat center;
    background-size: cover;
    left: 0;
    top: 3px;
}
.login .name::before{
    position: absolute;
    content: "";
    display: block;
    width: 0.38rem;
    height: 0.38rem;
    background: url(../images/regren.png) no-repeat center;
    background-size: cover;
    left: 0;
    top: 3px;
}
.login .verification::before{
    position: absolute;
    content: "";
    display: block;
    width: 0.23rem;
    height: 0.44rem;
    background: url(../images/regyan.png) no-repeat center;
    background-size: cover;
    left: 0;
    top: 3px;
}
.login .loginBtn{
    line-height: 0;
}
.login .loginBtn a{
    display: inline-block;
    width: 100%;
    height: 0.8rem;
    color: #fff;
    font-size: 0.3rem;
    background: #f6bc0b;
    border-radius: 5px;
    text-align: center;
    line-height: 0.8rem;
}
.login .regText{
   font-size: 0.28rem;
   text-align: center;
   color:  #73757a;
}
.login .regText a{
    color: #d6000f;
    display: inline;
}
.login-forgetpass{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5rem;
    text-align: center;
}
.login-forgetpass a{
    display: block;
    font-size: 0.28rem;
    color: #73757a;
}
.m-reg .prompt{
    font-size: 0.24rem;
    color:#d6000f; 
    display: inline-block;
    position: absolute;
    bottom: -0.24rem;
}
.m-reg{
    top: 27%;
}
/* 找回密码页面 */
.forget-title{
    position: relative;
}
.forgetPass {
    display: none;    
    padding: 0 1.15rem;

}
.forgetPass.active{
    display: block;
}
.forgetPass input{
    font-size: 0.3rem;
    color: #73757a;
    border-bottom: 1px solid #dedede;
    display: block;
    width: 100%;
    padding-bottom: 10px;
    text-indent: 0.5rem;
    height: 0.7rem;
    line-height: 0.7rem;
}
.forgetPass .inputText{
    margin-top: 0.55rem;
    position: relative;
    line-height: 0;
}
.forgetPass .phone::before{
    position: absolute;
    content: "";
    display: block;
    width: 0.26rem;
    height: 0.41rem;
    background: url(../images/loginPhone.png) no-repeat center;
    background-size: cover;
    left: 0;
    top: 3px;
}
.forgetPass .phoneCode::before{
    position: absolute;
    content: "";
    display: block;
    width: 0.23rem;
    height: 0.44rem;
    background: url(../images/regyan.png) no-repeat center;
    background-size: cover;
    left: 0;
    top: 3px;
}
.forgetPass .phoneCode .code{
    position: absolute;
    right: 0;
    top: 3px;
    font-size: 0.3rem;
    color: #5495ce;
}
.forgetPass .forgetBtn{
    line-height: 0;
    margin-top: 0.9rem;
}
.forgetPass .forgetBtn a{
    display: inline-block;
    width: 100%;
    height: 0.8rem;
    color: #fff;
    font-size: 0.3rem;
    background: #f6bc0b;
    border-radius: 5px;
    text-align: center;
    line-height: 0.8rem;
}
.forgetPass .passOne::before{
    position: absolute;
    content: "";
    display: block;
    width: 0.29rem;
    height: 0.39rem;
    background: url(../images/loginPass.png) no-repeat center;
    background-size: cover;
    left: 0;
    top: 3px;
}
/* 修改密码页面 */
.modifypass{
    background: #fff;
}
.modifypass .item{
    font-size: 0;
    padding: 0.35rem 0.22rem;
    border-bottom: 1px solid #eeeeee;
}
.modifypass input{
    border: none;
    display: inline-block;
    font-size:0.28rem; 
    color: #b5b5b5;
    vertical-align: top;
}
.modifypass span{
    display: inline-block;
    font-size: 0.28rem;
    color: #333;
    vertical-align: top;
}
.yesBtn{
    font-size: 0;
    margin-top: 0.8rem;
    padding: 0 1.15rem;
    
}
.yesBtn a{
    display: inline-block;
    border-radius: 5px;
    font-size: 0.3rem;
    background: #f6b900;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
}



